flows.json
[{"id":"8235fb9a.9a61c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f6142407.c5dfe8","type":"tab","label":"TinkerCad Plugin Gateway","disabled":false,"info":""},{"id":"94256759.040de8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6766be8d.0f81","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ae030a3c.aa2788","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1809d92.c91ad27","type":"debug","z":"f6142407.c5dfe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":782,"y":71.99999237060547,"wires":[]},{"id":"b8f3502f.282d3","type":"http in","z":"f6142407.c5dfe8","name":"","url":"/tinkermon","method":"post","upload":false,"swaggerDoc":"","x":287.16664123535156,"y":137.16665649414062,"wires":[["c932ace0.b948e","e52593b0.429de"]]},{"id":"c932ace0.b948e","type":"http response","z":"f6142407.c5dfe8","name":"","statusCode":"","headers":{},"x":506.16664123535156,"y":233.91664123535156,"wires":[]},{"id":"ed47fb39.1f3648","type":"http in","z":"f6142407.c5dfe8","name":"","url":"/tinkermon","method":"get","upload":false,"swaggerDoc":"","x":266.16664123535156,"y":382.1666259765625,"wires":[["2b7ce4e.825f51c"]]},{"id":"2b7ce4e.825f51c","type":"function","z":"f6142407.c5dfe8","name":"Recupera flow.tinkermon","func":"msg.headers = {\n    \"ContentType\": \"text/plain\",\n    \"Access-Control-Allow-Origin\": \"*\",\n    \"Access-Control-Allow-Methods\": \"GET\"\n};\nmsg.payload = flow.get('tinkermon');\nflow.set('tinkermon', '');\nreturn msg;","outputs":1,"noerr":0,"x":545.1666259765625,"y":393.1666259765625,"wires":[["958dacf5.664f4","87f85dd7.47fe7"]]},{"id":"958dacf5.664f4","type":"http response","z":"f6142407.c5dfe8","name":"","statusCode":"","headers":{},"x":792.0833129882812,"y":390.0833435058594,"wires":[]},{"id":"f563931.c8ca27","type":"mqtt out","z":"f6142407.c5dfe8","name":"","topic":"fiap/arduino00/sensor/luz","qos":"","retain":"","broker":"6766be8d.0f81","x":1023,"y":223,"wires":[]},{"id":"3b080b44.6c9fc4","type":"change","z":"f6142407.c5dfe8","name":"","rules":[{"t":"move","p":"payload.luz","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":161,"wires":[["f563931.c8ca27"]]},{"id":"10337e49.ca78b2","type":"mqtt in","z":"f6142407.c5dfe8","name":"","topic":"fiap/arduino00/sensor/cmd/led","qos":"2","broker":"ae030a3c.aa2788","x":283,"y":309,"wires":[["4b9d7efa.0e4cf"]]},{"id":"2702ee19.4c1a22","type":"change","z":"f6142407.c5dfe8","name":"Guarda em flow.tinkermon","rules":[{"t":"move","p":"payload.value","pt":"msg","to":"payload.led","tot":"msg"},{"t":"set","p":"tinkermon","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":698,"y":320,"wires":[[]]},{"id":"4b9d7efa.0e4cf","type":"json","z":"f6142407.c5dfe8","name":"","property":"payload","action":"","pretty":false,"x":489,"y":318,"wires":[["2702ee19.4c1a22"]]},{"id":"87f85dd7.47fe7","type":"debug","z":"f6142407.c5dfe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":689,"y":468,"wires":[]},{"id":"3f2c4fe7.52e96","type":"comment","z":"f6142407.c5dfe8","name":"Mensagem recebida do TinkerCad","info":"","x":850,"y":29,"wires":[]},{"id":"21a2376.9ac01c8","type":"comment","z":"f6142407.c5dfe8","name":"Mensagem enviada ao TinkerCad","info":"","x":757,"y":518,"wires":[]},{"id":"e52593b0.429de","type":"function","z":"f6142407.c5dfe8","name":"Transforma o payload em JSON","func":"msg.payload = msg.payload.toString();\nmsg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":472,"y":61,"wires":[["1809d92.c91ad27","3b080b44.6c9fc4"]]},{"id":"71afec4.ae66214","type":"inject","z":"f6142407.c5dfe8","name":"","topic":"","payload":"{\"value\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":240,"wires":[["2702ee19.4c1a22"]]}]