logicaApiArduino.json
[{"id":"62106568.b4e81c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d660f1d9.fbc0e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1f9cb2cc.bb37cd","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"dcf60dba.3976","type":"tab","label":"TinkerCad Plugin Gateway","disabled":false,"info":""},{"id":"164fb27d.96641e","type":"tab","label":"Servidor Arduino","disabled":false,"info":""},{"id":"5629e0c0.5551a","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a249e5.cadb5618","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"fc6f5995.8405d8","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3887e216.8a099e","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4b74f4a.1811c","type":"http in","z":"62106568.b4e81c","name":"","url":"/meuip","method":"get","upload":false,"swaggerDoc":"","x":110,"y":200,"wires":[["7db22d7f.dc81d4"]]},{"id":"a2622622.573f18","type":"debug","z":"62106568.b4e81c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":460,"wires":[]},{"id":"607d704d.eff75","type":"http response","z":"62106568.b4e81c","name":"","statusCode":"","headers":{},"x":410,"y":140,"wires":[]},{"id":"7db22d7f.dc81d4","type":"change","z":"62106568.b4e81c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":220,"wires":[["607d704d.eff75","a2622622.573f18"]]},{"id":"473744b6.a8f7ac","type":"debug","z":"d660f1d9.fbc0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":180,"wires":[]},{"id":"bb207703.8ee6b8","type":"http in","z":"d660f1d9.fbc0e","name":"","url":"/arduino16/luz","method":"get","upload":false,"swaggerDoc":"","x":150,"y":300,"wires":[["dfd5f721.73b3b8"]]},{"id":"4d827363.dcfb6c","type":"http response","z":"d660f1d9.fbc0e","name":"","statusCode":"","headers":{},"x":510,"y":240,"wires":[]},{"id":"a35504ac.4ba208","type":"inject","z":"d660f1d9.fbc0e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":740,"wires":[["607b53d8.f2324c"]]},{"id":"2f074784.7186c8","type":"debug","z":"d660f1d9.fbc0e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":740,"wires":[]},{"id":"607b53d8.f2324c","type":"http request","z":"d660f1d9.fbc0e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:1880/arduino16/luz","tls":"","proxy":"","authType":"basic","x":250,"y":740,"wires":[["2f074784.7186c8"]]},{"id":"dfd5f721.73b3b8","type":"change","z":"d660f1d9.fbc0e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"luz","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":180,"wires":[["4d827363.dcfb6c"]]},{"id":"77791192.385c","type":"change","z":"d660f1d9.fbc0e","name":"","rules":[{"t":"set","p":"luz","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":580,"wires":[[]]},{"id":"89270043.8e3e7","type":"inject","z":"d660f1d9.fbc0e","name":"","topic":"","payload":"{\"value\":15.6}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":560,"wires":[["77791192.385c"]]},{"id":"756ae116.f3b4b","type":"mqtt in","z":"d660f1d9.fbc0e","name":"","topic":"fiap/arduino16/sensor/luz","qos":"2","datatype":"auto","broker":"5629e0c0.5551a","x":250,"y":460,"wires":[["77791192.385c"]]},{"id":"3fd1a587.f8a42a","type":"http in","z":"1f9cb2cc.bb37cd","name":"","url":"/arduino16/led","method":"post","upload":false,"swaggerDoc":"","x":170,"y":160,"wires":[["1c05097.f4a24f7","cca2ade5.99ed4"]]},{"id":"1c05097.f4a24f7","type":"mqtt out","z":"1f9cb2cc.bb37cd","name":"","topic":"fiap/arduino16/cmd/led","qos":"","retain":"","broker":"5629e0c0.5551a","x":440,"y":160,"wires":[]},{"id":"cca2ade5.99ed4","type":"http response","z":"1f9cb2cc.bb37cd","name":"","statusCode":"","headers":{},"x":380,"y":300,"wires":[]},{"id":"819ec49a.772008","type":"inject","z":"1f9cb2cc.bb37cd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":600,"wires":[["f410bf72.65d0a"]]},{"id":"f410bf72.65d0a","type":"http request","z":"1f9cb2cc.bb37cd","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:1880/arduino16/led","tls":"","proxy":"","authType":"basic","x":270,"y":600,"wires":[["d6937d46.63e52"]]},{"id":"d6937d46.63e52","type":"debug","z":"1f9cb2cc.bb37cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":600,"wires":[]},{"id":"4b110b70.6db974","type":"debug","z":"dcf60dba.3976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":782,"y":71.99999237060547,"wires":[]},{"id":"b95aa21c.8ffbf","type":"http in","z":"dcf60dba.3976","name":"","url":"/tinkermon","method":"post","upload":false,"swaggerDoc":"","x":287.16664123535156,"y":137.16665649414062,"wires":[["e03ed425.09c9d8","a6c08300.373b2"]]},{"id":"e03ed425.09c9d8","type":"http response","z":"dcf60dba.3976","name":"","statusCode":"","headers":{},"x":506.16664123535156,"y":233.91664123535156,"wires":[]},{"id":"99d64381.ca5c2","type":"http in","z":"dcf60dba.3976","name":"","url":"/tinkermon","method":"get","upload":false,"swaggerDoc":"","x":266.16664123535156,"y":382.1666259765625,"wires":[["b84ba383.8dc64"]]},{"id":"b84ba383.8dc64","type":"function","z":"dcf60dba.3976","name":"Recupera flow.tinkermon","func":"msg.headers = {\n    \"ContentType\": \"text/plain\",\n    \"Access-Control-Allow-Origin\": \"*\",\n    \"Access-Control-Allow-Methods\": \"GET\"\n};\nmsg.payload = flow.get('tinkermon');\nflow.set('tinkermon', '');\nreturn msg;","outputs":1,"noerr":0,"x":545.1666259765625,"y":393.1666259765625,"wires":[["d25c6de7.b0dd9","13869205.cb788e"]]},{"id":"d25c6de7.b0dd9","type":"http response","z":"dcf60dba.3976","name":"","statusCode":"","headers":{},"x":792.0833129882812,"y":390.0833435058594,"wires":[]},{"id":"949a75fd.8682c8","type":"mqtt out","z":"dcf60dba.3976","name":"","topic":"fiap/arduino00/sensor/luz","qos":"","retain":"","broker":"a249e5.cadb5618","x":1023,"y":223,"wires":[]},{"id":"f2db3168.47393","type":"change","z":"dcf60dba.3976","name":"","rules":[{"t":"move","p":"payload.luz","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":161,"wires":[["949a75fd.8682c8"]]},{"id":"d8c2377d.2dbfa8","type":"mqtt in","z":"dcf60dba.3976","name":"","topic":"fiap/arduino00/sensor/cmd/led","qos":"2","broker":"fc6f5995.8405d8","x":283,"y":309,"wires":[["4b0a7193.0c1ba"]]},{"id":"5ae394e2.9a2bfc","type":"change","z":"dcf60dba.3976","name":"Guarda em flow.tinkermon","rules":[{"t":"move","p":"payload.value","pt":"msg","to":"payload.led","tot":"msg"},{"t":"set","p":"tinkermon","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":698,"y":320,"wires":[[]]},{"id":"4b0a7193.0c1ba","type":"json","z":"dcf60dba.3976","name":"","property":"payload","action":"","pretty":false,"x":489,"y":318,"wires":[["5ae394e2.9a2bfc"]]},{"id":"13869205.cb788e","type":"debug","z":"dcf60dba.3976","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":689,"y":468,"wires":[]},{"id":"5fe6c40f.7430ec","type":"comment","z":"dcf60dba.3976","name":"Mensagem recebida do TinkerCad","info":"","x":850,"y":29,"wires":[]},{"id":"86c8d795.ca8698","type":"comment","z":"dcf60dba.3976","name":"Mensagem enviada ao TinkerCad","info":"","x":757,"y":518,"wires":[]},{"id":"a6c08300.373b2","type":"function","z":"dcf60dba.3976","name":"Transforma o payload em JSON","func":"msg.payload = msg.payload.toString();\nmsg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":472,"y":61,"wires":[["4b110b70.6db974","f2db3168.47393"]]},{"id":"73906adf.097d94","type":"http in","z":"164fb27d.96641e","name":"","url":"/deviceId/arduino00/sensor/luz","method":"get","upload":false,"swaggerDoc":"","x":260,"y":180,"wires":[["e5fcbd1e.daf86"]]},{"id":"39ff78e6.97abf8","type":"mqtt in","z":"164fb27d.96641e","name":"","topic":"fiap/arduino00/sensor/luz","qos":"0","datatype":"auto","broker":"3887e216.8a099e","x":270,"y":100,"wires":[["53638a32.c616d4"]]},{"id":"53638a32.c616d4","type":"change","z":"164fb27d.96641e","name":"","rules":[{"t":"set","p":"luz","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[[]]},{"id":"e5fcbd1e.daf86","type":"change","z":"164fb27d.96641e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"luz","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["d99beade.2f7118"]]},{"id":"d99beade.2f7118","type":"http response","z":"164fb27d.96641e","name":"","statusCode":"","headers":{},"x":730,"y":180,"wires":[]},{"id":"d9ab79cb.beb498","type":"http in","z":"164fb27d.96641e","name":"","url":"/deviceId/arduino00/cmd/led","method":"post","upload":false,"swaggerDoc":"","x":260,"y":260,"wires":[["3250c465.8e5dec","ef492009.76878","40ec2131.be8fb"]]},{"id":"3250c465.8e5dec","type":"http response","z":"164fb27d.96641e","name":"","statusCode":"","headers":{},"x":390,"y":360,"wires":[]},{"id":"ef492009.76878","type":"mqtt out","z":"164fb27d.96641e","name":"","topic":"fiap/arduino00/sensor/cmd/led","qos":"2","retain":"","broker":"3887e216.8a099e","x":660,"y":280,"wires":[]},{"id":"6282677f.d558d8","type":"inject","z":"164fb27d.96641e","name":"","topic":"","payload":"{\"value\": 255}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":500,"wires":[["a8afea4b.212798"]]},{"id":"a8afea4b.212798","type":"http request","z":"164fb27d.96641e","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://antonio-server.mybluemix.net/deviceId/arduino00/cmd/led","tls":"","proxy":"","authType":"","x":490,"y":520,"wires":[["7c30d16c.be41f"]]},{"id":"7c30d16c.be41f","type":"debug","z":"164fb27d.96641e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":480,"wires":[]},{"id":"e1c2046a.d8e828","type":"comment","z":"164fb27d.96641e","name":"Testes das chamadas à API ","info":"","x":280,"y":440,"wires":[]},{"id":"f3cb86dc.7e6ea8","type":"inject","z":"164fb27d.96641e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":580,"wires":[["64d690ee.59603"]]},{"id":"64d690ee.59603","type":"http request","z":"164fb27d.96641e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://antonio-server.mybluemix.net/deviceId/arduino00/sensor/luz","tls":"","proxy":"","authType":"","x":490,"y":600,"wires":[["bc456056.f4368"]]},{"id":"bc456056.f4368","type":"debug","z":"164fb27d.96641e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":560,"wires":[]},{"id":"40ec2131.be8fb","type":"debug","z":"164fb27d.96641e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":240,"wires":[]}]