nodeRed(chatbot).txt
[{"id":"9a12b164.55b5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c2aaee51.3a027","type":"tab","label":"Hello","disabled":false,"info":""},{"id":"45b9444c.73bcac","type":"tab","label":"Fakebot","disabled":false,"info":""},{"id":"2758e426.7ad12c","type":"tab","label":"Profbot","disabled":false,"info":""},{"id":"e582c1bc.42d9d","type":"http in","z":"9a12b164.55b5c","name":"","url":"/Hello","method":"get","upload":false,"swaggerDoc":"","x":230,"y":100,"wires":[["c8d3f582.9594e8"]]},{"id":"c8d3f582.9594e8","type":"template","z":"9a12b164.55b5c","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    \n<body>\n    <h1>Olá mundo</h1>\n    <p>Seu ip é {{req.ip}}</p>\n</body>    \n    \n    \n<html>","output":"str","x":280,"y":200,"wires":[["4f0cf1c8.1f71c"]]},{"id":"4f0cf1c8.1f71c","type":"http response","z":"9a12b164.55b5c","name":"","statusCode":"","headers":{},"x":460,"y":260,"wires":[]},{"id":"c9042328.417ae","type":"http in","z":"c2aaee51.3a027","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":173,"y":84,"wires":[["b57653c7.fd995"]]},{"id":"b57653c7.fd995","type":"template","z":"c2aaee51.3a027","name":"Boas vindas","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h1>Seja bem vindo!!</h1>\n\n<p>Seu IP é {{req.ip}}.</p>\n\n</body>\n</html>\n","output":"str","x":301,"y":159,"wires":[["6f5b8226.e43e2c"]]},{"id":"6f5b8226.e43e2c","type":"http response","z":"c2aaee51.3a027","name":"","statusCode":"","headers":{},"x":349,"y":215,"wires":[]},{"id":"95de7ca0.51a26","type":"http in","z":"c2aaee51.3a027","name":"","url":"/sttcall.js","method":"get","upload":false,"swaggerDoc":"","x":150,"y":360,"wires":[["4b783764.aff138"]]},{"id":"4b783764.aff138","type":"template","z":"c2aaee51.3a027","name":"sttcall.js","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"document.addEventListener(\"DOMContentLoaded\", function(event) {\n\nlet shouldStop = false;\nlet stopped = true;\nconst button = document.getElementById('stt123');\nconst input = document.getElementById('question123');\nbutton.style.borderStyle = \"outset\";\n  \nvar handleSuccess = function(stream) {\n    \n    const options = {mimeType:'audio/webm;codecs=opus'};\n    const recordedChunks = [];\n    \n    button.addEventListener('click', function() {\n        if(stopped) {\n            //Inicia MediaRecorder e seta botão como pressionado\n            const mediaRecorder = new MediaRecorder(stream, options);\n            mediaRecorder.ondataavailable =  function(e) {\n                if (e.data.size > 0) {\n                    recordedChunks.push(e.data);\n                }\n                if(shouldStop === true && stopped === false) {\n                    mediaRecorder.stop();\n                    stopped = true;\n                    button.style.borderStyle = \"outset\";\n                }\n            };\n\n            mediaRecorder.addEventListener('stop', function() {\n    \t        var soundBlob = new Blob(recordedChunks, {type:'audio/webm;codecs=opus'});\n                var fd = new FormData();\n\t\t        fd.append('data', soundBlob);\n\t\t        $.ajax({\n    \t\t        type: 'POST',\n    \t\t        url: '/stt',\n    \t\t        data: fd,\n    \t\t        processData: false,\n    \t\t        contentType: false\n  \t\t        }).done(function(data) {\n        \t        input.value=data;\n\t\t        });\n            });\n\n            mediaRecorder.start(500);\n            stopped = false;\n            shouldStop = false;\n            button.style.borderStyle = \"inset\";\n        } else {\n            shouldStop = true;\n        }\n    });\n};\n\nnavigator.mediaDevices.getUserMedia({ audio: true, video: false })\n    .then(handleSuccess);\n    \n});\n","output":"str","x":380,"y":400,"wires":[["2b1df9ec.4c9ca6"]]},{"id":"2b1df9ec.4c9ca6","type":"http response","z":"c2aaee51.3a027","name":"","statusCode":"","headers":{},"x":600,"y":360,"wires":[]},{"id":"aa15543c.a85978","type":"http in","z":"45b9444c.73bcac","name":"","url":"/fakebot","method":"get","upload":false,"swaggerDoc":"","x":96,"y":112,"wires":[["f94e3be6.5c4728"]]},{"id":"21e5d6f5.c9be4a","type":"template","z":"45b9444c.73bcac","name":"Dialog Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html> <body>\n\t<h2>Fakebot Page!</h2>\n\t<form method=\"POST\">  \n\t\tDiálogo:<br>  \n\t\t<textarea name=\"dialog\" readonly rows=\"30\" cols=\"80\"> {{payload}}\n\t\t</textarea> <br>\n\t\tPergunta:<br>\n\t\t<input type=\"text\" name=\"question\" > <br><br>\n\t\t<input type=\"submit\" value=\"Enviar\">\n\t</form>\n\t<form method=\"GET\"> \n\t\t<input type=\"submit\" value=\"Limpar\">\n\t</form>\n</body> </html>\n","output":"str","x":502,"y":127,"wires":[["125cd1e7.15c7de"]]},{"id":"d34916b1.a059f8","type":"comment","z":"45b9444c.73bcac","name":"1","info":"Node responsável por abrir a página do FakeBot\natravés de uma requisição get,utilizando a rota /fakebot","x":84,"y":72,"wires":[]},{"id":"263c11a9.fb14fe","type":"http in","z":"45b9444c.73bcac","name":"","url":"/fakebot","method":"post","upload":false,"swaggerDoc":"","x":90,"y":280,"wires":[["b2be0700.b18618","95b828ae.585f98"]]},{"id":"d5c12c41.92e2a","type":"function","z":"45b9444c.73bcac","name":"Fake Watson","func":"if(msg.payload) {\n    msg.payload = \"Você perguntou: \" + msg.payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["53f6b40c.b71d2c","cf355d8c.ce3cc"]]},{"id":"e74d1029.795b","type":"comment","z":"45b9444c.73bcac","name":"2","info":"Node responsável por processar as informações vindas da página do FakeBot\natravés de uma requisição POST,utilizando a rota /fakebot","x":70,"y":240,"wires":[]},{"id":"b2be0700.b18618","type":"change","z":"45b9444c.73bcac","name":"Guarda variáveis","rules":[{"t":"set","p":"dialog","pt":"flow","to":"payload.dialog","tot":"msg"},{"t":"set","p":"question","pt":"flow","to":"payload.question","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.question","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":460,"wires":[["d5c12c41.92e2a"]]},{"id":"53f6b40c.b71d2c","type":"function","z":"45b9444c.73bcac","name":"Concatenate Dialog","func":"var text = \"\";\nif(flow.get(\"dialog\")) text += flow.get(\"dialog\");\nif(flow.get(\"question\")) text += \"\\nVocê: \" + flow.get('question')\ntext += \"\\nBot: \"  + msg.payload;\n\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":440,"wires":[["21e5d6f5.c9be4a","51b1d417.2766ac"]]},{"id":"125cd1e7.15c7de","type":"http response","z":"45b9444c.73bcac","name":"","statusCode":"","headers":{},"x":657,"y":127,"wires":[]},{"id":"65a28a48.abfc54","type":"comment","z":"45b9444c.73bcac","name":"3","info":"Node que armazena as informações vindas da requisição POST em variáveis internas do NodeRed e passando o campo Question para o \nmsg.payload.","x":250,"y":420,"wires":[]},{"id":"6fc67e31.00767","type":"comment","z":"45b9444c.73bcac","name":"4","info":"Node responsável pela formatação e concatenação da mensagem que vai ser devolvida para a página do fakebot","x":530,"y":380,"wires":[]},{"id":"f94e3be6.5c4728","type":"change","z":"45b9444c.73bcac","name":"Limpa variáveis","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"delete","p":"dialog","pt":"flow"},{"t":"delete","p":"question","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":180,"wires":[["d5c12c41.92e2a"]]},{"id":"972df603.b4c358","type":"comment","z":"45b9444c.73bcac","name":"5","info":"Node responsável por remover/apagar quaisquer variáveis \nantes de renderizar a página","x":250,"y":140,"wires":[]},{"id":"5f8c8a64.7f5494","type":"comment","z":"45b9444c.73bcac","name":"6","info":"Node responsável por criar a resposta do chatbot ","x":390,"y":260,"wires":[]},{"id":"9cc3c8a9.28dd48","type":"comment","z":"45b9444c.73bcac","name":"7","info":"Node responsável por fazer o response,passando um template html a a ser\nrenderizado","x":510,"y":80,"wires":[]},{"id":"95b828ae.585f98","type":"debug","z":"45b9444c.73bcac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":100,"y":380,"wires":[]},{"id":"cf355d8c.ce3cc","type":"debug","z":"45b9444c.73bcac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":260,"wires":[]},{"id":"51b1d417.2766ac","type":"debug","z":"45b9444c.73bcac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":500,"wires":[]},{"id":"6921addd.f60d34","type":"http in","z":"2758e426.7ad12c","name":"","url":"/profbot","method":"get","upload":false,"swaggerDoc":"","x":97,"y":79,"wires":[["c55995ab.6e5518"]]},{"id":"acac5acb.0970c8","type":"template","z":"2758e426.7ad12c","name":"Dialog Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h2>ProfBot Page!</h2>\n\n<form action=\"/profbot\" method=\"POST\">\n  <input type=\"hidden\" name=\"session_id\"\n    value=\"{{session_id}}\">\n  Diálogo:<br>\n  <textarea name=\"dialog\" readonly rows=\"30\" cols=\"80\">{{payload}}</textarea>\n  <br>\n  Pergunta:<br>\n  <input type=\"text\" name=\"question\" >\n  <br><br>\n  <input type=\"submit\" value=\"Enviar\">\n</form>\n<form action=\"/profbot\" method=\"GET\">\n  <input type=\"submit\" value=\"Limpar\">\n</form>\n\n</body>\n</html>","output":"str","x":830,"y":260,"wires":[["f98165bc.17a4e8"]]},{"id":"25d6f9c1.910176","type":"comment","z":"2758e426.7ad12c","name":"1","info":"Node responsável por abrir a página do FakeBot\natravés de uma requisição get,utilizando a rota /fakebot","x":85,"y":39,"wires":[]},{"id":"5fe0b5ad.d4c36c","type":"http in","z":"2758e426.7ad12c","name":"","url":"/profbot","method":"post","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["cec8ca7c.1dc6c8","fffb016e.5e1a3"]]},{"id":"acde41ae.23835","type":"comment","z":"2758e426.7ad12c","name":"2","info":"Node responsável por processar as informações vindas da página do FakeBot\natravés de uma requisição POST,utilizando a rota /fakebot","x":90,"y":180,"wires":[]},{"id":"cec8ca7c.1dc6c8","type":"change","z":"2758e426.7ad12c","name":"Guarda variáveis","rules":[{"t":"set","p":"dialog","pt":"flow","to":"payload.dialog","tot":"msg"},{"t":"set","p":"question","pt":"flow","to":"payload.question","tot":"msg"},{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"params.session_id","pt":"msg","to":"payload.session_id","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"question","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":360,"wires":[["2d8ceb91.539524","f5504832.9492f8"]]},{"id":"e9412f16.c5eac","type":"function","z":"2758e426.7ad12c","name":"Concatenate Dialog","func":"var text = \"\";\nif(flow.get(\"dialog\")) text += flow.get(\"dialog\");\nif(flow.get(\"question\")) text += \"\\nVocê: \" + flow.get('question')\ntext += \"\\nBot: \"  + msg.payload;\n\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["acac5acb.0970c8"]]},{"id":"f98165bc.17a4e8","type":"http response","z":"2758e426.7ad12c","name":"","statusCode":"","headers":{},"x":850,"y":100,"wires":[]},{"id":"c55995ab.6e5518","type":"change","z":"2758e426.7ad12c","name":"Limpa variáveis","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"dialog","pt":"flow","to":"","tot":"str"},{"t":"set","p":"question","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":46,"wires":[["2d8ceb91.539524"]]},{"id":"3b098a10.67bef6","type":"comment","z":"2758e426.7ad12c","name":"3","info":"","x":250,"y":300,"wires":[]},{"id":"dec58241.4d","type":"comment","z":"2758e426.7ad12c","name":"4","info":"","x":650,"y":300,"wires":[]},{"id":"2d8ceb91.539524","type":"watson-assistant-v2","z":"2758e426.7ad12c","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"a3ca8c13-d5cc-4c47-b881-970705ef67ee","debug":false,"restart":false,"return_context":false,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":470,"y":260,"wires":[["5b3be151.8aa67","13efcecb.9e0eb1"]]},{"id":"5b3be151.8aa67","type":"function","z":"2758e426.7ad12c","name":"Gera resposta de texto","func":"var text = \"\";\nfor(const rsp of msg.payload.output.generic) {\n    if(rsp.response_type ===\"text\") {\n        text += rsp.text + '\\n';\n    } else if(rsp.response_type ===\"option\") {\n        text += rsp.title + '\\n';\n        for(const opt of rsp.options) {\n            text += '\\t' + opt.label + ': ';\n            text += opt.value.input.text + '\\n';\n        }\n    }\n}\n\n//Salva o ID da sessão\nmsg.session_id = msg.payload.session_id;\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":400,"wires":[["e9412f16.c5eac"]]},{"id":"13efcecb.9e0eb1","type":"debug","z":"2758e426.7ad12c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":140,"wires":[]},{"id":"fffb016e.5e1a3","type":"debug","z":"2758e426.7ad12c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":220,"y":180,"wires":[]},{"id":"f5504832.9492f8","type":"debug","z":"2758e426.7ad12c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":440,"wires":[]}]