revisaoNode-red(baseEstudos).json
[{"id":"9f81333d.84c17","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f79f2c9b.3ca21","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"dcaa5416.b72608","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7f83c729.f3d8d8","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7c50cc47.9fbe84","type":"http in","z":"9f81333d.84c17","name":"","url":"/meuip","method":"get","upload":false,"swaggerDoc":"","x":110,"y":200,"wires":[["8ebc9c6e.0863a"]]},{"id":"1b552b1f.b90da5","type":"debug","z":"9f81333d.84c17","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":460,"wires":[]},{"id":"bb5a5d30.8fafe","type":"http response","z":"9f81333d.84c17","name":"","statusCode":"","headers":{},"x":410,"y":140,"wires":[]},{"id":"8ebc9c6e.0863a","type":"change","z":"9f81333d.84c17","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":220,"wires":[["bb5a5d30.8fafe","1b552b1f.b90da5"]]},{"id":"d5e62f.c7ba39d","type":"debug","z":"f79f2c9b.3ca21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":180,"wires":[]},{"id":"c5ec7bab.010c98","type":"http in","z":"f79f2c9b.3ca21","name":"","url":"/arduino16/temperatura","method":"get","upload":false,"swaggerDoc":"","x":180,"y":300,"wires":[["f8ff92f4.2e21b"]]},{"id":"25b5353f.26e94a","type":"http response","z":"f79f2c9b.3ca21","name":"","statusCode":"","headers":{},"x":510,"y":240,"wires":[]},{"id":"ea6c4a35.3aad58","type":"inject","z":"f79f2c9b.3ca21","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":740,"wires":[["6d1c339d.c4a9bc"]]},{"id":"ee4c6ad8.4ca258","type":"debug","z":"f79f2c9b.3ca21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":740,"wires":[]},{"id":"6d1c339d.c4a9bc","type":"http request","z":"f79f2c9b.3ca21","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:1880/arduino16/temperatura","tls":"","proxy":"","authType":"basic","x":250,"y":740,"wires":[["ee4c6ad8.4ca258"]]},{"id":"f8ff92f4.2e21b","type":"change","z":"f79f2c9b.3ca21","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"temperatura","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":180,"wires":[["25b5353f.26e94a"]]},{"id":"10ccbe4c.2ce322","type":"change","z":"f79f2c9b.3ca21","name":"","rules":[{"t":"set","p":"temperatura","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":580,"wires":[[]]},{"id":"d8b70b60.7ba8c8","type":"inject","z":"f79f2c9b.3ca21","name":"","topic":"","payload":"{\"value\":15.6}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":560,"wires":[["10ccbe4c.2ce322"]]},{"id":"f72e8867.55f818","type":"mqtt in","z":"f79f2c9b.3ca21","name":"","topic":"fiap/arduino16/sensor/temperatura","qos":"2","datatype":"auto","broker":"7f83c729.f3d8d8","x":280,"y":460,"wires":[["10ccbe4c.2ce322"]]},{"id":"4a723d09.d4de74","type":"http in","z":"dcaa5416.b72608","name":"","url":"/arduino16/led","method":"post","upload":false,"swaggerDoc":"","x":170,"y":160,"wires":[["86c1771e.395008","d8280531.5c9578"]]},{"id":"86c1771e.395008","type":"mqtt out","z":"dcaa5416.b72608","name":"","topic":"fiap/arduino16/cmd/led","qos":"","retain":"","broker":"7f83c729.f3d8d8","x":440,"y":160,"wires":[]},{"id":"d8280531.5c9578","type":"http response","z":"dcaa5416.b72608","name":"","statusCode":"","headers":{},"x":380,"y":300,"wires":[]},{"id":"c51854b9.b99bc8","type":"inject","z":"dcaa5416.b72608","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":600,"wires":[["56dcd32b.72a45c"]]},{"id":"56dcd32b.72a45c","type":"http request","z":"dcaa5416.b72608","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:1880/arduino16/led","tls":"","proxy":"","authType":"basic","x":270,"y":600,"wires":[["9f85177c.9b9488"]]},{"id":"9f85177c.9b9488","type":"debug","z":"dcaa5416.b72608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":600,"wires":[]}]